.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    background: var(--white);

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        position: relative;

        @media (max-width: 600px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        .imgMenuWrapper {
            display: flex;
            align-items: center;
        }

        img {
            @media (max-width: 670px) {
                width: 100px;
            }
        }

        .navgation {
            display: flex;
            gap: 20px;

            @media (max-width: 670px) {
                display: none;
            }

            a {
                color: var(--black);
                text-decoration: none;
                font-weight: 500;
            }
        }

        .burgerMenuIcon {
            width: 40px;
            
            @media(min-width: 670px) {
                display: none;
            }
        }
    }
}
